<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="./styles/styles.css">
        <title>your new year's gift</title>
    </head> 
    <body>
        <div class="container">
            <div >
                <h1 class = "header_text"><%= hiMessage%></h1>
            </div>
            <div class = "buttons">
                <button class="btn" id = "startButton" onclick="nextPage()"><%= startMessage2%></button>
                <script>
                    function nextPage(){
                        document.body.classList.add('fadeOut');

                        setTimeout(function () {
    window.location.href = "/message";
  }, 1000);
                    }
                </script> 
            </div>
        </div>
       
    </body> 
</html>

